<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Adivina el número:</p>
    <input type="text" v-model="adivinar">
    <button @click="comprobaAdivi">Comprobar</button>
    <p v-if="mostrarMensaje">{{ resultadoMensaje }}</p>
    <p v-if="intentos === 0">Fin del juego</p>
    <p>Intentos restantes: {{ intentos }}</p>
    <p v-if="mostrarForm">Introduce tu nombre:</p>
    <input type="text" v-if="mostrarForm" v-model="nombreJugador">
    <button v-if="mostrarForm" @click="guardarResultados">Guardar resultado</button>
    <table v-if="resultados.length">
      <tr>
        <th>Nombre</th>
        <th>Intentos</th>
      </tr>
      <tr v-for="resultado in resultados">
        <td>{{ resultado.nombre }}</td>
        <td>{{ resultado.intentos }}</td>
      </tr>
    </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="/main.js"></script> 
      
</body>
    
</html>